@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Bebas+Neue&family=Poppins:wght@100&family=Roboto:ital,wght@0,700;0,900;1,100&display=swap');



html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: 'Rubick', sans-serif;
}